ACL_PATH='/etc/3proxy/users.txt'
CONFIG_PATH='/etc/3proxy/3proxy.cfg'
LOG_PATH='{{LOG_DIR}}/supervisor/'
LOG_LEVEL=INFO

REDIS_HOST = localhost
REDIS_PORT = 6379
SCHEDULER_RDB = 1

MYSQL_HOST=localhost
MYSQL_USER={{MYSQL_USER}}
MYSQL_PASSWORD={{MYSQL_PASSWORD}}
MYSQL_DATABASE=testbase