[program:rq_worker]
command={{USER_HOME}}/venv/api/bin/rq worker --url redis://@127.0.0.1:6379/1 high default low
process_name=%(program_name)s-%(process_num)s
numprocs={{RQ_WORKER_PROCS}}
directory={{USER_HOME}}/api_proxy
user={{USER_NAME}}
autostart=true
autorestart=true
stopsignal=TERM
redirect_stderr=true